fastapi
uvicorn[standard]
openai
langchain
langchain-community
langchain-huggingface
tiktoken
pydantic
python-dotenv
faiss-cpu
PyPDF2
pypdfium2
pdfminer.six
sentence-transformers
scikit-learn
numpy
aiohttp
httpx
InstructorEmbedding
pypdf
